<h1>Add a Subscription to <%=full_name(@patient)%></h1>

<%= form_for @prescription, url: patient_prescriptions_path, method: :post do |f| %>
  <% f.object.errors.full_messages.each do |error| %>
    <div class="errors">
      <%= error %>
    </div>
  <% end %>


<%= f.label :medication %>
<%= f.collection_select :medication_id, Medication.all, :id, :name %>

<%= f.label :dosage %>
<%= f.text_field :dosage %>

<%= f.label :schedule %>
<%= f.text_field :schedule %>

<%= f.label :starts_on %>
<%= f.date_select :starts_on %>

<%= f.label :ends_on %>
<%= f.date_select :ends_on %>

<%= f.submit "Create Prescription" %>

<% end %>
</form>
