<h1><%= full_name(@patient) %></h1>

<%= link_to "Add Prescription", new_patient_prescription_path(@patient) %>


<h3>Prescriptions</h3>
<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Dosage / Schedule</th>
    <th>Dates</th>
  </tr>
  </thead>

  <tbody>
  <%= @prescriptions.each do |prescription| %>
    <tr>
      <td><%= prescription.dosage%> every <%=prescription.schedule%></td>
      <td></td>
      <td></td>
    </tr>
    <% end %>


  </tbody>
 </table>